@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900");
.nopadding{
  padding: 0;
}
.city-block-text{
  text-align: center;
  background-color: #33CC99;
}

.city-block-image{
  overflow: hidden;
  height:300px;
}

.cityblock-text-span {
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3rem;
  white-space: nowrap;
  margin: auto;
}


